/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 
#assb_dialog {width:500px; font-size:15px; font-weight:bold;}
#assb_dialog p {font-size:15px; font-weight:bold;}
.free_plugin {margin-bottom: 20px;}
.paid_plugin {margin-bottom: 20px;}
.paid_plugin h3 {border-bottom: 1px solid #ccc;padding-bottom: 20px;}
.free_plugin h3 {padding-bottom: 20px;border-bottom: 1px solid #ccc;}
.whatsapp-share-containar {margin-top: 20px;padding: 30px;width: 92%;box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);}
.whatsapp-share-contain table.form-table tbody tr td .chosen-container {width: 168px !important;}
.whatsapp-share-containar fieldset.fs_global {border: 1px solid #ccc; padding: 0 2%;}
.whatsapp-share-containar fieldset.fs_global legend {font-size: 18px;font-weight: bold;padding: 0 10px;}
.whatsapp-share-contain table.form-table tbody tr td #post_type_chosen.chosen-container {width: 250px !important;}
.whatsapp-share-contain table.form-table tr td .display_added_services > img {margin-right: 10px;}
.whatsapp-share-contain table.form-table tr td .add_posttype_note {color: #000;display: block;margin-top: 13px;}
.whatsapp-share-contain table.form-table tr td .add_facebook_note {color: #000;display: block;margin-top: 13px;}
.whatsapp-share-contain table.form-table tr td label.error {color: red;margin-left: 10px;}
#reorder_all_services .reorder_note {color: #000;margin: 10px 0;}
.whatsapp-share-contain table.form-table textarea#add_custom_service_style {border: 1px solid #807575;}
.whatsapp-share-contain table.form-table input { border: 1px solid #807575;}
.whatsapp-share-header h2 {font-size: 24px;margin-top: 18px;}
.whatsapp-share-contain table.form-table {text-transform: capitalize;}
table.form-table tr td .display_added_services {display: block;margin-top: 10px;margin-right: 20px;}
#reorder_all_services .ui-sortable-handle {display: inline-block;margin-right: 15px;}
.new_services {margin-top: 20px;width: 100%;}
.new_services > li {display: inline-block;margin-right: 20px;position: relative;}
.new_services li input {display: inline-block;height: 20px;left: auto;position: absolute;right: -10px;top: 0;width: 20px;}
img.version_logo_img {width: auto !important;}
.paid_plugin {
    margin-bottom: 20px;
}

.paid_plugin h3 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

.free_plugin h3 {
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.plug-containter {
    width: 100%;
    display: inline-block;
    margin-left: 20px;
}
.plug-containter .contain-section {
    width: 25%;
    display: inline-block;
    margin-top: 30px;
}
.plug-containter .contain-section .contain-img {
    width: 30%;
    display: inline-block;
}
.plug-containter .contain-section .contain-title {
    width: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}
.plug-containter .contain-section .contain-title a {
    text-decoration: none;
    line-height: 20px;
    font-weight: bold;
}
.version_logo_img {
    position: absolute;
    right: 0;
    top: 0;
}